.backCrud {
    height: 1000px;

    /* background of bones wallpaper */
    background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0827/9581/rbonesgreyblackwhite_shop_preview.png");


    background-size: 100% 100%;
    
}

.Crud {
    margin: auto;
    width: 50%;
    background-color: #a2a0a0;
}

.neonCrud {
    font-size: larger;
    color: rgb(235, 86, 21);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  }

.myForm {
    width: 100%;
    background-color: #151400;
    border-radius: 2px;
    padding: 2px;
}

.formField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20%;
    box-sizing: border-box;
}

/* send button */
.myButton {
    width: 100%;
    background-color: #450201;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.myList {
    list-style: none;
}

.myListButton {
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 90%;
    border: 1px solid #00b894;
    margin: 3px 5px;
}